<script type="text/javascript">
    $(function(){
        $('#west_admin_manage').accordion({
            border: false,
            animate: true,
            multiple: false,
            selected: 0
        });

        var menus=Qrck.get("admin/user/menus?pid=11&t=2",{},"",function(res){
            var mc="";
            if(res.length >0){
                for(var i=0;i<res.length;i++){
                     mc+=' <li><a onclick="addTab(\''+res[i]['name']+'\',\'../../'+res[i]['url']+'\')">'+res[i]['name']+'</a></li>';
                }

                $("#west_admin_manage .submenu").append(mc);
            }else{
                $(".layout-button-left").click();
            }
            
        });
    })
</script>
<div id="west_admin_manage">
    <div title="基本管理" data-options="iconCls:'icon-my-task',cls:'menu_panel',border:false">
        <ul class="submenu">
        </ul>
    </div>
</div>