<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<!-- incloud jquery lib -->
	<link href="../../ui/themes/metro/easyui.css" rel="stylesheet" type="text/css">
	<link href="../../ui/themes/icon.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="../../ui/jquery.min.js"></script>
	<script type="text/javascript" src="../../ui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../../ui/locale/easyui-lang-zh_CN.js"></script>
	<!-- incloud custom lib -->
	<script type="text/javascript" src="../../scripts/UserData.js"></script>
</head>

<body>
	<h1>西望数字</h1>
</body>
</html>