<script type="text/javascript">
    $(function(){
        var menus=Qrck.get("admin/user/menus?pid=0&t=2",{},"",function(res){
            var mc="";
            if(res.length >0){
                for(var i=0;i<res.length;i++){
                    
                     mc+='<div class="portal"><p><a href="../../'+res[i]['url']+'">'+res[i]['name']+'</a></p></div>';
                }
                $("#main_icon_Links").append(mc);
            }
        });
    })
</script>
<div id="main_icon_Links">
</div>